<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "photogram_top.png" %>">
</section>
<div class="container">
  <section class="about">
    <h2>About Photogram</h2>
    <p>
       - Photogram is Simple Application to post Picture<br>
       - Easy to Post, Easy to Edit.<br>
       <p></p>
       <%= link_to "Start", pictures_path,class: 'btn btn-primary' %>
    </p>
  </section>
</div>